<header>
    <div class="container">
        <h1>Calendario di Prova</h1>
    </div>
</header>
<main>
    <div class="container mt-4">
        <label><input type="checkbox" [checked]='calendarOptions.weekends' (change)="toggleWeekends()"> Weekends</label>
        <full-calendar [options]='calendarOptions'></full-calendar>
    </div>

</main>
<footer>
    <div class="container mt-4">
       <h5>footer</h5>
    </div>
</footer>

<!-- <app-events></app-events>
<router-outlet></router-outlet>
 -->

<ngx-spinner></ngx-spinner>
