<ng-template #changeRoomModal let-modal>
    <div class="modal-header">
        <h4  class="modal-title" id="modal-basic-title">Inserisci appuntamento</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="manageRoomForm">
            <div class="row">
                <div class="col-sm-12 col-md-6 form-group">
                    <label>Titolo </label>
                    <input type="text" class="form-control" formControlName="titleId">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('')">Chiudi</button>
    </div>
</ng-template>